# Replace the credentials here with your own using either USERNAME/PASSWORD or IAM_APIKEY
# Comment out the unset environment variables
# Rename this file to .env before running app.py.

CLASSIFIER_ID=<add_nlc_classifier_id>
NATURAL_LANGUAGE_CLASSIFIER_APIKEY=<add_nlc_apikey>
