<!DOCTYPE html>
<html lang="en">
	<meta charset="utf-8">
	<title>IBM Watson NLC ICD-10 Classifier</title>

	<head>
		<!-- bootstrap -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</head>

  <body>
    <div class="container">
      <h1>IBM Watson NLC ICD-10 Classifier</h1>

      <div class="form-group">
          <label for="info">NLC service info:</label>
          <textarea class="form-control" rows="5" id="info"> {{ classifier_info }} </textarea>
      </div>

      <p>Now on to classifiying medical conditions, input some text into the box below and see the ICD-10 code:</p>

      <form action="/classifyhandler" method="post">
        <div class="form-group">
          <label for="classifierinput">Text to classify:</label>
          <input type="text" class="form-control" id="classifierinput">
        </div>
        <input type="submit" class="btn btn-info" value="Submit Button">
      </form><br>

      <div class="form-group">
          <label for="classifier_output">Output from Watson NLC classifier:</label>
          <textarea class="form-control" rows="5" id="classifier_output"> {{ classifier_output }} </textarea>
          <label for="icd_code">ICD10 code:</label>
          <textarea class="form-control" rows="5" id="icd_code"> {{ icd_code }} </textarea>
          <label for="icd_output">Output from ICD10 API:</label>
          <textarea class="form-control" rows="5" id="icd_output"> {{ icd_output }} </textarea>
      </div>

  </body>

</html>
